{% extends "templates/base.html" %}
{% block content %}
<h2>This site is created by <a href="http://fericean.ro">Radu Fericean</a> using the following technologies:</h2>
<ul>
	<li><a href="http://python.org/">Python</a></li>
	<li><a href="https://developers.google.com/youtube/1.0/developers_guide_python">Google Youtube gdata API</a></li>
	<li><a href="https://developers.google.com/appengine/">Google appengine</a></li>
	<li><a href="http://webplayer.yahoo.com/">Yahoo webplayer</a></li>
	<li><a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a></li>
	<li><a href="http://compass-style.org/">Compass</a></li>	
</ul>
{% endblock %}
