{% extends "templates/base.html" %}
{% block content %}    	       
<span class="listing_title"> Searching for '{{ search_term }}'</span><br /><br />
{% for entry in feed.entry %}      
	<div class="row">
		<div class="span3">                        
				<a class="yt" href="{{ entry.media.player.url }}"><img class="thumb" src="{{ entry.media.thumbnail[0].url }}" alt=""/></a><br />
				<span class="video_rating">Rating: {{ entry.rating.average }} of 5 stars<br/>{{ entry.rating.num_raters }} Votes </span>
			</div>
		<div class="span9">
		   <span class="video_title">{{ entry.title.text }}</span><br /><br />        			
           <span class="video_description">{{ entry.media.description }}</span><br />
		   {% if entry.rating %}
    	   <span class="video_rating">Rating: {{ entry.rating.average }} of 5 stars<br/>{{ entry.rating.num_raters }} Votes </span>
    	   {% endif %}
    	</div>           
   <div class="row"><div class="span5" height="20"><hr class="slight"/></div></div>
   </div>
   {% endfor %}
{% endblock %}  

{% block extrascripts %}
<script type="text/javascript">var YWPParams = {autoplay: true};</script>
{% endblock %}
